.card--msg {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
}

.card--msg .delete-btn {
  align-self: flex-end;
}

.msg-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  font-size: 12px;
  color: #666;
}

.sender {
  font-weight: bold;
  color: #333;
}

.msg-body {
  font-size: 15px;
}