.card--conv .muted {
  font-size: 14px;
  margin: 5px 0;
}

.date-info {
  font-size: 12px;
  color: #888;
  font-style: italic;
  margin-bottom: 10px;
}

.card--conv .delete-btn {
  margin-top: 8px;
}